

<title>bot page</title>

<div style="position: fixed;top:35%;left: 40%;">
<button type="button" href="">generate new joke</button>
<button type="button" href="">submit</button>
</div>


<h3 style="text-align:center;"><%= joketext %></h3>


<script>
      let button = document.querySelector("button")[0];
      let button1 = document.querySelector("button")[1];


      let h3 = document.querySelector("h3");
    button.onclick = function() {
        h3.textContent = "bleepbloop."
        };
</script>