

<h1>bot page</h1>
<button  type="button">new joke</button>
<!-- onclick="randomJoke()" -->
<h4 class="joke">joke</h4>

<script src="/views/JokeBot1.js">
    const button = document.querySelector("button");

    button.addEventListener('click',function(){
    console.log("joke hahahahah");
});
</script>


// display joke