

<h1>bot page</h1>
<button  type="button">new joke</button>
<!-- onclick="randomJoke()" -->
<h4 class="joke">joke</h4>


<script src="/views/JokeBot1.js">
   
   let joke = document.querySelector("h4").textContent;
   joke.textContent = "How many?"
</script>


// display joke
<h4>howdy</h4>

