<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="homepage.css">
</head>

<body style="background-color: pink;">
    <h3 style="text-align: center;">jokes</h3>
    
    <% for( let index = 0; index < jokeList.length; index++ ) { %>
        <% let a = jokeList[index]; %> 
        <% a = a.toJSON() %>
        <div style="text-align: center;">  
        <br><a style="text-decoration:none" href="/joke/<%= a.id %>">
            <%= a.Joke_text %> </a>
</div>
    <% } %>
    
    }
</body>


