<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>

<body style="background-color: pink;">
    <h3 style="text-align: center;">jokes</h3>

    <title>joke</title>
</head>
<body>
    <a href='/'>View All Jokes</a>

    <h1><%= joke.Joke_text %></h1>
    <h2><%= joke.votes %> </h2>

</body>
<button style="color:green" type="button">FUNNY!</button>
<button style="color:red" type="button">Bad Joke...</button>
<button type="button">random joke</button>



</body>

<script>   

    let button = document.querySelector("button");
    let h3 = document.querySelector("h3");
    button.onclick = function() {
        h3.textContent = "bleepbloop."
        };
        // save 
        // to sql
        // then refresh
        
        </script>
    

<!-- <script>   
let button = button
    button.onclick
    save 
    to sql
    then refresh
    
    </script> -->

