<form method="POST" action="/controllers/joke.js">
  <label for="name">Title</label>
  <input type="text" name="name">

  <label for="Joke_text">Length</label>
  <input id="Joke_text" type="text" name="Joke_text">

  <input type="submit">
</form>